@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$primary-color: #4caf50;
$secondary-color: #f4f4f4;
$font-color: #444;
$card-color: #fff;
$border-color: #707070;
$body-font: "Roboto", sans-serif;
$nav-color: #e2de84;

body {
    font-family: $body-font;
    background-color: $secondary-color;
    margin: 0;
    padding: 0;
    color: $font-color;
}

header {
    margin-bottom: 3%;
    .header__title {
        background-color: $primary-color;
        color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3em;
        position: relative;
        min-height: 60px;

        .header__profile {
            height: 100%;
            position: absolute;
            left: 0;
            top: 0px;
            display: flex;
            align-items: center;

            .header__avatar {
                margin-left: 1em;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #000000;
                background-size: cover;
                overflow: hidden;
                img {
                    width: 60px;
                    height: 60px;
                }
            }

            .header__connectionlinks {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-left: 10px;

                a {
                    color: white;
                    font-size: 1.1rem;
                    text-decoration: none;

                    &:hover {
                        font-size: 1.2rem;
                    }

                    &:checked {
                        color: #3f84e5;
                    }
                }

                .header__connect {
                    font-size: 1.3rem;

                    &:hover {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .title {
        margin-bottom: 20px;
    }

    nav {
        background-color: $nav-color;
        border-radius: 5px;
        width: 100%;
        font-size: 1.2em;
        font-weight: 600;
        color: $font-color;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;

            li {
                a {
                    text-decoration: none;
                    color: $font-color;
                    padding: 10px 20px;
                    display: block;

                    &:hover {
                        background-color: darken($nav-color, 10%);
                    }
                }
            }
        }
    }
}

.mainpage {
    width: 80%;
    margin: auto;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: $primary-color;
    margin: 2%;
}

.quizlist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
        background-color: $card-color;
        border-radius: 10px;
        width: 20%;
        padding: 20px;
        margin-bottom: 40px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        text-align: center;
        min-height: 200px;
        min-width: 200px;

        &:hover {
            scale: 1.1;
        }

        a {
            text-decoration: none;
            color: inherit;

            &:hover,
            &:focus,
            &:active,
            &:visited {
                text-decoration: none;
                color: inherit;
            }
        }

        .card__content {
            .card__info {
                .card__title {
                    font-weight: bold;
                    color: $primary-color;
                    margin-bottom: 10px;
                }

                .card__description {
                    font-size: 0.9em;
                }

                .card__category,
                .card__attempts,
                .card__difficulty {
                    font-size: 0.9em;
                    margin-bottom: 5px;
                    color: lighten($font-color, 20%);
                }
            }
        }
        .card__image {
            height: 100px;
            margin-bottom: 10px;
        }
    }
}
.searchQuiz {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 5%;

    input[type="text"],
    select {
        padding: 10px;
        border: 1px solid lighten($font-color, 50%);
        border-radius: 5px;
    }
    .searchQuiz__keyword {
        margin: 0;
    }
    .searchQuiz__show {
        display: flex;
        align-items: center;
        input {
            margin-left: 10px;
        }
    }
}

.aboutpage {
    width: 80%;
    margin: 80px auto;

    h1 {
        color: $primary-color;
    }
}

.profilepage {
    margin: 0;
    h1 {
        text-align: center;
    }
    h2 {
        margin: 3%;
    }
    .profile__generalstats {
        ul {
            width: 80%;
            display: flex;
            list-style-type: none;
            justify-content: space-evenly;
            font-size: 1.2em;
        }
    }

    .profile__bestscores {
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: $primary-color;
            text-align: left;
        }
    }
}

.quiz {
    &__page {
        width: 80%;
        margin: auto;
    }
    &__header {
        display: flex;
        justify-content: space-evenly;
    }
    &__data {
        width: 360px;
        padding: 5% 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__image {
        width: 640px;
        height: 360px;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        color: $primary-color;
    }

    &__metadata {
        display: flex;
        justify-content: space-between;
    }

    &__description {
        font-size: 1.2rem;
    }

    &__category {
        font-size: 1rem;
    }

    &__difficulty {
        font-size: 1rem;
        font-weight: bold;
    }

    &__play {
        text-align: center;
        margin-top: 5%;

        .play__btn_inactive {
            background-color: $card-color;
            color: $primary-color;
            border-radius: 25px;
            font-size: 2em;
            padding: 10px;
            border: $primary-color solid 2px;
            cursor: pointer;
            box-shadow: 0 0 5px rgba($primary-color, 0.5);

            &:hover {
                background-color: darken($card-color, 8%);
            }
        }

        .play__btn_active {
            display: none;
        }
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__content {
        position: relative;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 20%;

        h2 {
            margin-bottom: 20px;
        }

        .popup_close {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            color: #333;
            transition: color 0.3s;

            &:hover {
                color: $primary-color;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: auto;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid $border-color;
            border-radius: 5px;
            font-size: 1rem;
        }

        button {
            background-color: $primary-color;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($primary-color, 10%);
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px lighten($primary-color, 20%);
            }

            &:active {
                background-color: darken($primary-color, 15%);
            }
        }
    }
}

.question {
    &__container {
        width: 80%;
        margin: 8% auto;
        text-align: center;
    }
    &__quiz {
        color: $primary-color;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 40px 0;
    }

    &__input {
        width: 40%;
        padding: 5px;
        border: 1px solid $border-color;
        border-radius: 5px;
        font-size: 1rem;

        &:hover {
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
        }

        &:focus {
            outline: none;
            border: $primary-color solid 2px;
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
        }

        &:not([value=""]):not(:focus) {
            border: $primary-color solid 2px;
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
        }
    }
}

.answer {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        display: flex;
        gap: 10px;
        background-color: $card-color;
        padding: 5px;
        border: $border-color solid 1px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        width: 20%;

        &:hover {
            background-color: darken($card-color, 8%);
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
        }

        &:focus {
            border: $primary-color solid 2px;
            // background-color: darken($card-color, 8%);
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
        }
    }

    &__letter {
        font-weight: bold;
        color: $primary-color;
    }
}


.finish{
    &__container {
        text-align: center;
    }
    &__button {
        background-color: $card-color;
        color: $primary-color;
        border-radius: 10px;
        font-size: 1.2em;
        padding: 8px;
        border: $primary-color solid 2px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        cursor: pointer;


        &:hover {
            background-color: darken($card-color, 8%);
        }
    }

}


.finish {
    &__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        background: $card-color;
        padding: 25px;
        border-radius: 10px;
        text-align: center;

        p {
            margin-bottom: 20px;
            font-size: 1.2rem;
            color: $primary-color;
        }

        button {
            background-color: $primary-color;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            margin: 0 10px;

            &:hover {
                background-color: darken($primary-color, 10%);
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px lighten($primary-color, 20%);
            }

        }
    }

}
}